In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import datetime

from datetime import datetime, timedelta
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007
766,tt1448755,66000000,57777106,Killer Elite,Jason Statham|Clive Owen|Robert De Niro|Domini...,Gary McKendry,May the Best Man Live,"Based on a shocking true story, Killer Elite p...",116,Action|Adventure|Thriller,Current Entertainment|Omnilab Media|Ambience E...,9/23/2011,6.0,2011
1203,tt2302755,70000000,161025640,Olympus Has Fallen,Gerard Butler|Aaron Eckhart|Angela Bassett|Mor...,Antoine Fuqua,When our flag falls our nation will rise.,"When the White House (Secret Service Code: ""Ol...",120,Action|Thriller,Nu Image Films|Millennium Films,3/20/2013,6.2,2013
238,tt2752758,7000000,36433975,Devil's Due,Allison Miller|Zach Gilford|Sam Anderson|Rober...,Matt Bettinelli-Olpin|Tyler Gillett,The Devil Always Gets His Due,An unexpected pregnancy takes a terrifying tur...,89,Horror,Twentieth Century Fox Film Corporation|Davis E...,1/8/2014,4.5,2014
1544,tt0365830,22000000,13405595,Tenacious D in The Pick of Destiny,Jack Black|Kyle Gass|Ronnie James Dio|Tim Robb...,Liam Lynch,An epic quest. A magical guitar pick. A chance...,"In Venice Beach, naive Midwesterner JB bonds w...",93,Comedy|Music,Red Hour Films,11/22/2006,6.2,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#Profit calculation "profit = revenue - budget"
profit = data.revenue - data.budget
data.append(profit, ignore_index = True)
data['profit'] = profit.values
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
129,tt2713180,68000000,211817906,Fury,Brad Pitt|Shia LaBeouf|Logan Lerman|Michael Pe...,David Ayer,War never ends quietly.,Last months of World War II in April 1945. As ...,135,War|Drama|Action,Columbia Pictures|QED International|Crave Film...,10/15/2014,7.4,2014,143817906
190,tt2177771,70000000,154984035,The Monuments Men,Matt Damon|Cate Blanchett|George Clooney|Bill ...,George Clooney,It was the greatest art heist in history,Based on the true story of the greatest treasu...,118,War|Drama|History|Action,Columbia Pictures|Studio Babelsberg|Fox 2000 P...,1/24/2014,5.7,2014,84984035
859,tt1602098,8000000,5634828,Albert Nobbs,Glenn Close|Mia Wasikowska|Aaron Taylor-Johnso...,Rodrigo GarcÃ­a,A man with a secret. A woman with a dream.,Albert Nobbs struggles to survive in late 19th...,113,Drama,Chrysalis Films,12/21/2011,6.1,2011,-2365172
1701,tt0443706,65000000,84785914,Zodiac,Jake Gyllenhaal|Robert Downey Jr.|Mark Ruffalo...,David Fincher,There's more than one way to lose your life to...,The true story of the investigation of 'The Zo...,157,Crime|Drama|Mystery|Thriller,Paramount Pictures|Warner Bros.|Phoenix Pictures,3/2/2007,7.1,2007,19785914
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
#Creating a new dataframe by filtering the original 'data' dataframe, displaying movie title with the highest budget
movie_max_budget = data[data.budget == data.budget.max()]
movie_max_budget.original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [8]:
#Creating a new dataframe by filtering the original 'data' dataframe, displaying a title of the longest movie from filtered dataset
movie_longest_min = data[data.runtime == data.runtime.max()]
movie_longest_min.original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
#Creating a new dataframe by filtering the original 'data' dataframe, displaying a title of the shortest movie from filtered dataset
movie_shortest_min = data[data.runtime == data.runtime.min()]
movie_shortest_min.original_title.values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '110'
#Using mean() finction to get average movie runtime
round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = '107'
#Using median() finction to get average movie runtime
round(data.runtime.median(),0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
#Creating a new dataframe by filtering the original 'data' dataframe, displaying the most profitable movie from filtered dataset
movie_max_profit = data[data.profit == data.profit.max()]
movie_max_profit.original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = 'The Lone Ranger (tt1210819)'
#Creating a new dataframe by filtering the original 'data' dataframe, displaying the most unprofitable movie from filtered dataset
movie_max_loss = data[data.profit == data.profit.min()]
movie_max_loss.original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '1478'
#Creating a new dataframe by filtering the original 'data' dataframe, using function len() to get number of dataframe rows 
revenue_higher_budget = data[data.revenue > data.budget]
len(revenue_higher_budget)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = 'The Dark Knight (tt0468569)'
#Creating a new dataframe by filtering the original 'data' dataframe by release year and then by revenue, displaying the highest grossing movie
movie_list_2008 = data[data.release_year == 2008]
highest_grossing_movie = movie_list_2008[movie_list_2008.revenue == movie_list_2008.revenue.max()]
highest_grossing_movie.original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = 'The Lone Ranger (tt1210819)'
#Creating a new dataframe by filtering the original 'data' dataframe by release year and then by profit, displaying the less grossing movie
movie_list_2012_2014 = data[(data.release_year>=12) & (data.release_year <= 2014)]
less_grossing_movie = movie_list_2012_2014[(movie_list_2012_2014.profit == movie_list_2012_2014.profit.min())]
less_grossing_movie.original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [19]:
answers['11'] = 'Drama'
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#Creating a new dataframe by copying the original 'data' dataframe by release year and then by profit, using Counter to count the most popular genre
count_genres_max = data.copy()
collections.Counter(count_genres_max['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama'
#Creating a new dataframe by filtering the original 'data' dataframe by profit, using Counter to count the most prtofitable genre
profitable_movies = data[data.profit > 0] 
collections.Counter(profitable_movies['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = 'Peter Jackson'
#Creating series with a total revienue gpouped by director
revenue_by_director = data.groupby(['director'])['revenue'].sum()
#Transformimg series to dataframe
df_revenue_by_director = revenue_by_director.to_frame().reset_index()
#Displaying director from filtered dataframe by the highest total revenue
df_revenue_by_director[df_revenue_by_director.revenue == df_revenue_by_director.revenue.max()].director.values[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'
#Creating a new dataframe by filtering the original 'data' dataframe by 'Action' genre, using Counter to define the director who mostly directed Actions
action_movies = data[data.genres.str.contains('Action')]
collections.Counter(action_movies['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = 'Bruce Willis'
#Creating a new dataframe by filtering the original 'data' dataframe by year, using Counter to define the most grossing movie in 2012
most_grossing_movie_2012 = data[data.release_year == 2012]
collections.Counter(most_grossing_movie_2012['cast'].str.cat(sep = '|').split('|')).most_common(1)

[('Bruce Willis', 5)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = 'Matt Damon'
#Creating a new dataframe by filtering the original 'data' dataframe where budget is greater than mean budget, using Counter to define an actor who mostly played in high-budget movies
high_budget_movie = data[data.budget > data.budget.mean()]
collections.Counter(high_budget_movie['cast'].str.cat(sep = '|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
answers['17'] = 'Action'
#Creating a new dataframe by filtering the original 'data' dataframe by 'Nicolas Cage' actor, using Counter to define a mostly common genre for Nikolas Cage
nicolas_cage_movies = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(nicolas_cage_movies['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
#Creating a new dataframe by filtering the original 'data' dataframe by 'Paramount Pictures' production company and then by profit, displaying the most unprofitable movie
paramount_pic_movies = data[data.production_companies.str.contains('Paramount Pictures')]
paramount_pic_movies_loss = paramount_pic_movies[(paramount_pic_movies.profit == paramount_pic_movies.profit.min())]
paramount_pic_movies_loss.original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = '2015'
#Creating series with a total revienue gpouped by release_year
revenue_by_year = data.groupby(['release_year'])['revenue'].sum()
#Transformimg series to dataframe
df_revenue_by_year = revenue_by_year.to_frame().reset_index()
#Displaying the most successful year from filtered dataframe by the highest total revenue
df_revenue_by_year[df_revenue_by_year.revenue == df_revenue_by_year.revenue.max()].release_year.values[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [31]:
answers['20'] = '2014'
#Creating a new dataframe by filtering the original 'data' dataframe by 'Warner Bros' production company
warner_bros_movies = data[data.production_companies.str.contains('Warner Bros')]
#Creating series with a total revienue gpouped by release_year
warner_bros_profit = warner_bros_movies.groupby(['release_year'])['profit'].sum()
#Transformimg series to dataframe
df_warner_bros_profit = warner_bros_profit.to_frame().reset_index()
#Displaying the most successful year from filtered dataframe by the highest toyal revenue
df_warner_bros_profit[df_warner_bros_profit.profit == df_warner_bros_profit.profit.max()].release_year.values[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
answers['21'] = '9'
#Creating a new dataframe by copying the original 'data' dataframe
total_movies_by_year = data.copy()
#Listing date parameters using split() function
total_movies_by_year['release_date'] = total_movies_by_year.release_date.str.split('/')
#Getting month value for release dates using lambda function
total_movies_by_year['month'] = total_movies_by_year['release_date'].apply(lambda x: x[0])
#Count movies by month
total_movies_by_year.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
answers['22'] = '450'
#Creating a new dataframe by copying the original 'data' dataframe
summer_movies = data.copy()
#Listing date parameters using split() function
summer_movies['release_date'] = summer_movies.release_date.str.split('/')
#Getting month value for release dates using lambda function
summer_movies['month'] = summer_movies['release_date'].apply(lambda x: x[0])
#Filtering the only movies released in summer months
summer_movies_total = summer_movies[summer_movies.month.isin(['6','7','8'])]
#Count total number of the movies released in summer months
len(summer_movies_total)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
answers['23'] = 'Peter Jackson'
#Creating a new dataframe by copying the original 'data' dataframe
product_director = data.copy()
#Listing date parameters using split() function
product_director.release_date = product_director.release_date.apply(lambda x:x.split('/'))
#Getting month value for release dates using lambda function
product_director ['release_date_month'] = product_director['release_date'].apply(lambda x: x[0])
#Filtering the only movies released in winter months
product_director_winter = product_director[product_director.release_date_month.isin(['12','1','2'])]
#Using counter to define the most repeatable director for the filtered dataset
collections.Counter(product_director_winter['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
answers['24'] = 'Four By Two Productions'
#Creating a new dataframe by copying the original 'data' dataframe
long_movie_title = data.copy()
#Defining movie title lenusing lambda function
title_len = long_movie_title.original_title.apply(lambda x: len(x))
#Adding movie title length as a dataframe column, assigning movie title length to the new column values
long_movie_title.append(title_len, ignore_index=True)
long_movie_title['title_len'] = title_len.values
#Defining the longest movie title length and filtering dataframe by this condition, displaying respective production company
long_movie_title_max = long_movie_title[long_movie_title.title_len == long_movie_title.title_len.max()]
long_movie_title_max.production_companies.values[0]

'Twentieth Century Fox Film Corporation|Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
answers['25'] = 'Midnight Picture Show'
#Creating a new dataframe by copying the original 'data' dataframe
over_words = data.copy()
#Listing movie overviewby separate words using split() function with a space as an argument
overview_len = data.overview.map(lambda x: len(x.split(' ')))
#Adding movie title length as a dataframe column, assigning number of words in overview to the new column values
over_words.append(overview_len, ignore_index=True)
over_words['overview_len'] = overview_len.values
#Calculating mean for number of words in overview, sorting series in descening order, isplaying upper value
over_words_over_mean = over_words.groupby(['production_companies'])['overview_len'].mean()
over_words_over_mean_sorted=over_words_over_mean.sort_values(ascending=False)
over_words_over_mean_sorted.head(1)

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [39]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
#Creating a new dataframe by copying the original 'data' dataframe
pcnt1_greatest_movies = data.copy()
#Filtering dataframe coomparing vote average with 99 quantile 
pcnt1_greatest_movies.original_title[pcnt1_greatest_movies.vote_average.quantile(.99) < pcnt1_greatest_movies.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [40]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
import itertools as it
#Creating a new dataframe by copying the original 'data' dataframe
cast_couples = data.copy()
#Creating combinations of actors listing cast attribute and using combinations function from intertool module, using counter to define the most common pairs
cast_couples['cast_comb'] = cast_couples.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(cast_couples.cast_comb.values.sum()).most_common(3)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [41]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Bruce Willis',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [42]:
# и убедиться что ни чего не пропустил)
len(answers)

27